p {
	color: darkblue;
	font-size: 18px;
}
ul>li {
	color: darkred;
	font-size: 17px;
	font-family: cursive;
}
li {
	color: black;
}
h1 {
	color: red;
}
h2 {
	color: brown;
	font-size: 25px;
}
/* id */
#My_heading{
	color: darkred;
}
/* class*/
.Test {
	color: green;
	font-size: 16px;
	font-family: cursive;
}
.ol-padding {
	margin: 10px;
	border: 1px solid;
	padding: 10px;
}
